@model project.Models.Booking


<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Reservation</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-0">
        <div class="row d-flex justify-content-center no-gutters">
            <div class="col-md-10 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5">
                <div class="py-md-5">
                    <div class="heading-section ftco-animate mb-5">
                        <span class="subheading">Bookings</span>
                        <h2 class="mb-4">@ViewBag.Title</h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card">


                                <ul class="listHorizontal card py-3 bg-image">
                                    @using (Html.BeginForm("Date", "Reservations"))
                                    {
                                    <li class="ml-4"><p class="text-white">Filter by Date</p></li>
                                    <li class="ml-4">@Html.TextBox("dt", "", new { @class = "form-control", @type = "date", placeholder = "Date", @dateFormat = "dd-MM-yyyy" })</li>
                                    <li class="ml-4"><input type="submit" value="Filter" class="btn btn-primary py-3 px-5" /></li>
                                    <li class="ml-4"> <a asp-controller="Reservations" asp-action="Index"><input type="button" value="Reset Filter" class="btn btn-primary py-3 px-5" /></a></li>
                                    }
                                </ul>



                            </div>
                        </div>
                    </div>
                    <!--datatable start-->
                    <!-- Utalising datattables plugin https://datatables.net/-->

                    <div class="table-responsive">
                        <div id="dataTable_wrapper"
                             class="dataTables_wrapper dt-bootstrap4">

                            <div class="row">



                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable"
                                           id="dataTable" cellspacing="0" role="grid"
                                           aria-describedby="dataTable_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc bg-yellow"
                                                    tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending">Booking #</th>
                                                <th class="sorting_asc bg-yellow"
                                                    tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending">Name</th>
                                                <th class="sorting bg-yellow"
                                                    tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Position: activate to sort column ascending">Email</th>
                                                <th class="sorting bg-yellow"
                                                    tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Date</th>
                                                <th class="sorting bg-yellow "
                                                    tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Service</th>
                                                <th class="sorting bg-yellow"
                                                    tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Age: activate to sort column ascending">Time</th>
                                                <th class="sorting bg-yellow"
                                                    tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Age: activate to sort column ascending">Guests</th>
                                                <th class="sorting bg-yellow"
                                                    tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Start date: activate to sort column ascending">Diet Requiremants</th>

                                            </tr>
                                        </thead>
                                        <tfoot>
                                        <tbody>

                                            @foreach (Booking b in ViewBag.Bookings)
                                            {

                                            <tr role="row" class="odd">
                                                <td class="sorting_1" style="text-align:center"><a asp-controller="Reservations" asp-action="BookingInfo" asp-route-Id="@b.BookingNum">@b.BookingNum</a></td>
                                                <td>@b.Name</td>
                                                <td>@b.Email</td>
                                                <td><a asp-controller="Reservations" asp-action="Date" asp-route-dt="@b.BookingDate.ToString("yyyy-MM-dd")">@b.BookingDate.ToString("dd/MM/yyyy")</a></td>
                                                <td>@b.Service</td>
                                                <td>@b.Time</td>
                                                <td>@b.NumGuests</td>
                                                <td>@b.Diet</td>

                                            </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>


    @section Scripts{
        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

        <script src="~/js/datatable.js"></script>

        <script>
            $(document).ready(function () {
                $('#dataTable').DataTable();
            });


        </script>

    }

</section>

